<a href="https://colab.research.google.com/github/Kallukalluzzz/Sreelakshmi-S-Baiju-Advanced-computing-lab/blob/master/SVM%20mini.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [3]:
# Importing the dataset
data = pd.read_csv('/content/DGA dataset_new.csv')
data

      NM       H2      CH4    C2H6    C2H4    C2H2               Type
0      1   3930.0   2397.0   157.0     0.0     0.0  Partial discharge
1      2  37800.0   1740.0   249.0     8.0     8.0  Partial discharge
2      3  92600.0  10200.0     0.0     0.0     0.0  Partial discharge
3      4   8266.0   1061.0    22.0     0.0     0.0  Partial discharge
4      5   9340.0    995.0    60.0     6.0     7.0  Partial discharge
..   ...      ...      ...     ...     ...     ...                ...
266  267   2443.0   3422.0  7852.0  3000.0  6394.0           No fault
267  268   4395.0   5201.0  6933.0  6788.0  2121.0           No fault
268  269   7613.0   1120.0  3363.0  4751.0  3393.0           No fault
269  270   2366.0   1031.0  5909.0   108.0  7025.0           No fault
270  271   5054.0   4144.0  4174.0  7020.0  6974.0           No fault

[271 rows x 7 columns]

In [4]:
data.head()

   NM       H2      CH4   C2H6  C2H4  C2H2               Type
0   1   3930.0   2397.0  157.0   0.0   0.0  Partial discharge
1   2  37800.0   1740.0  249.0   8.0   8.0  Partial discharge
2   3  92600.0  10200.0    0.0   0.0   0.0  Partial discharge
3   4   8266.0   1061.0   22.0   0.0   0.0  Partial discharge
4   5   9340.0    995.0   60.0   6.0   7.0  Partial discharge

In [5]:
data.tail()

      NM      H2     CH4    C2H6    C2H4    C2H2      Type
266  267  2443.0  3422.0  7852.0  3000.0  6394.0  No fault
267  268  4395.0  5201.0  6933.0  6788.0  2121.0  No fault
268  269  7613.0  1120.0  3363.0  4751.0  3393.0  No fault
269  270  2366.0  1031.0  5909.0   108.0  7025.0  No fault
270  271  5054.0  4144.0  4174.0  7020.0  6974.0  No fault

In [17]:
data.shape

(271, 7)

In [7]:
data.describe()

,NM,H2,CH4,C2H6,C2H4,C2H2
count,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000
mean,136.000000,12596.872137,8837.367860,8322.011037,25855.278192,28464.202989
std,78.375166,58990.313685,44290.029786,45204.575453,93324.626287,118859.936760
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,68.500000,87.585000,59.950000,10.000000,15.050000,3.110000
50%,136.000000,676.740000,450.000000,68.000000,233.000000,40.000000
75%,203.500000,4105.000000,1593.000000,510.000000,2030.000000,890.850000
max,271.000000,487297.000000,449556.000000,404053.000000,478904.000000,683643.000000

In [8]:
data.isnull()

        NM     H2    CH4   C2H6   C2H4   C2H2   Type
0    False  False  False  False  False  False  False
1    False  False  False  False  False  False  False
2    False  False  False  False  False  False  False
3    False  False  False  False  False  False  False
4    False  False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...
266  False  False  False  False  False  False  False
267  False  False  False  False  False  False  False
268  False  False  False  False  False  False  False
269  False  False  False  False  False  False  False
270  False  False  False  False  False  False  False

[271 rows x 7 columns]

In [10]:
data.isnull().sum()

NM      0
H2      0
CH4     0
C2H6    0
C2H4    0
C2H2    0
Type    0
dtype: int64

In [49]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
data["Type"] = labelencoder.fit_transform(data["Type"])

In [50]:
data

      NM       H2      CH4    C2H6    C2H4    C2H2  Type
0      1   3930.0   2397.0   157.0     0.0     0.0     8
1      2  37800.0   1740.0   249.0     8.0     8.0     8
2      3  92600.0  10200.0     0.0     0.0     0.0     8
3      4   8266.0   1061.0    22.0     0.0     0.0     8
4      5   9340.0    995.0    60.0     6.0     7.0     8
..   ...      ...      ...     ...     ...     ...   ...
266  267   2443.0   3422.0  7852.0  3000.0  6394.0     7
267  268   4395.0   5201.0  6933.0  6788.0  2121.0     7
268  269   7613.0   1120.0  3363.0  4751.0  3393.0     7
269  270   2366.0   1031.0  5909.0   108.0  7025.0     7
270  271   5054.0   4144.0  4174.0  7020.0  6974.0     7

[271 rows x 7 columns]

In [51]:
X=data.drop(['NM','Type'],axis=1)
Y=data['Type']

In [52]:
X

          H2      CH4    C2H6    C2H4    C2H2
0     3930.0   2397.0   157.0     0.0     0.0
1    37800.0   1740.0   249.0     8.0     8.0
2    92600.0  10200.0     0.0     0.0     0.0
3     8266.0   1061.0    22.0     0.0     0.0
4     9340.0    995.0    60.0     6.0     7.0
..       ...      ...     ...     ...     ...
266   2443.0   3422.0  7852.0  3000.0  6394.0
267   4395.0   5201.0  6933.0  6788.0  2121.0
268   7613.0   1120.0  3363.0  4751.0  3393.0
269   2366.0   1031.0  5909.0   108.0  7025.0
270   5054.0   4144.0  4174.0  7020.0  6974.0

[271 rows x 5 columns]

In [53]:
Y

0      8
1      8
2      8
3      8
4      8
      ..
266    7
267    7
268    7
269    7
270    7
Name: Type, Length: 271, dtype: int64

In [54]:
X.shape

(271, 5)

In [55]:
Y.shape

(271,)

In [56]:
from sklearn.model_selection import train_test_split
X_train, X_test = train_test_split(X, test_size = 0.2, shuffle=False, random_state = 0)

Y_train, Y_test = train_test_split(Y, test_size = 0.2, shuffle=False, random_state = 0)

In [62]:
nsamples, nx, ny = data.shape
d2_train_dataset = data.reshape((nsamples,nx*ny))

ValueError: ignored

In [60]:
from sklearn.svm import SVC
svm=SVC(kernel='linear',C=1.0)
svm=svm.fit(X,Y)
res=svm.predict([X_test])
print(res)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"

ValueError: ignored

In [57]:
from sklearn.svm import OneClassSVM

train_data = train[['H2','CH4',	'C2H6',	'C2H4','C2H2']]
scaler = StandardScaler()
np_scaled = scaler.fit_transform(train_data)
train_data = pd.DataFrame(np_scaled)
outliers_fraction = 0.01

# train oneclassSVM 
model = OneClassSVM(nu=outliers_fraction, kernel="rbf", gamma=0.01)
pred_train = model.fit(train_data)
train['anomaly'] = pd.Series(model.predict(train_data))

train_anomalies = train[train['anomaly'] == -1]

f, (ax3) = plt.subplots(figsize=(18, 6))
ax3.scatter(train_anomalies.index, train_anomalies.DE, label='anomaly', color='red', s=10)
ax3.plot(train.index, train.DE, label='Type');
plt.xlim((0,len(train.index)))

plt.title('One Class SVM')
plt.legend();
plt.show();

ValueError: ignored