<a href="https://colab.research.google.com/github/Kallukalluzzz/Sreelakshmi-S-Baiju-Advanced-computing-lab/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("/content/heart.csv")

In [3]:
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [4]:
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [5]:
data.tail()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [7]:
data.isnull()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
913,False,False,False,False,False,False,False,False,False,False,False,False
914,False,False,False,False,False,False,False,False,False,False,False,False
915,False,False,False,False,False,False,False,False,False,False,False,False
916,False,False,False,False,False,False,False,False,False,False,False,False
917,False,False,False,False,False,False,False,False,False,False,False,False

In [17]:
data.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
Gender            0
dtype: int64

In [9]:
data.shape

(918, 12)

In [23]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
data["Gender"] = labelencoder.fit_transform(data["Sex"])
data["Chestpain"] = labelencoder.fit_transform(data["ChestPainType"])
data["ECG"] = labelencoder.fit_transform(data["RestingECG"])
data["Exercise"] = labelencoder.fit_transform(data["ExerciseAngina"])

In [24]:
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Gender,Chestpain,ECG,Exercise
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,1,1,1,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,0,2,1,0
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,1,1,2,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0,0,1,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,1,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1,1,3,1,0
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1,1,0,1,0
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,1,0,1,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1,0,1,0,0
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0,1,2,1,0

In [30]:
X=data.drop(['HeartDisease','ST_Slope','Sex','ChestPainType','RestingECG','ExerciseAngina'],axis=1)
Y=data['HeartDisease']

In [31]:
X

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,Gender,Chestpain,ECG,Exercise
0,40,140,289,0,172,0.0,1,1,1,0
1,49,160,180,0,156,1.0,0,2,1,0
2,37,130,283,0,98,0.0,1,1,2,0
3,48,138,214,0,108,1.5,0,0,1,1
4,54,150,195,0,122,0.0,1,2,1,0
...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,132,1.2,1,3,1,0
914,68,144,193,1,141,3.4,1,0,1,0
915,57,130,131,0,115,1.2,1,0,1,1
916,57,130,236,0,174,0.0,0,1,0,0
917,38,138,175,0,173,0.0,1,2,1,0